<ion-content>
  <figure class="ion-text-center ion-padding">
    <img src="assets/img/logo.png">
  </figure>
  <form [formGroup]="form" (ngSubmit)="loginUser()">
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div *ngIf="emailField.hasError(validation.type) && (emailField.dirty || emailField.touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div *ngIf="passwordField.hasError(validation.type) && (passwordField.dirty || passwordField.touched)">
          {{validation.message}}
        </div>
      </ng-container>
    </div>
    {{ errorMessage }}
    <ion-button type="submit" expand="full" shape="round" color="success" [disabled]="!form.valid">Login</ion-button>
  </form>
</ion-content>
<ion-footer class="ion-text-center">
  <ion-button
    (click)="onRegisterClick()"
    expand="full" 
    shape="round" 
    fill="outline" 
    color="success"
  >
    Click to register
  </ion-button>
</ion-footer>